
<div class="row">
  <%= render 'categories/category'  %>
  <div class="col-9">
    
    <% @categories.each do |category|  %>
      <% next if category.products.count <= 0 %>
      <h4 class="mt-4"><%= category.name %></h4>
      <div class="row">
        <%category.products.each do |product| %>
            <%= render product,  category: category %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
