$('#cart_button').replaceWith('<a class="btn btn-danger btn-lg" role="button" style="color: #ffffff" data-bs-target="#addProduct" data-bs-toggle="modal" data-remote="true" href="#">In cart</a>');
$('main').prepend("<%= j render('carts/block_info_cart', product: Product.find(params[:item]))%>")
