<div class="col-3 left_side_bar">
  <div class="mt-3">
    <ul class="list-group">
      <% @categories_list.roots.each do |category_type|%>

        <% name = Category.find_by(name: category_type.name) %>
          <%= link_to category_type.name, category_path(category_type, name.name),
                      class:"list-group-item list-group-item-action", id:category_type.name  %>
      <% end %>
    </ul>
  </div>
  <hr>
  <div>
    <p>Contact info</p>
  </div>
</div>