<h1>CATEGORIES</h1>
<%= link_to 'Add new category', new_category_path(), class: 'btn btn-info btn-sm', role: "button", style: "color: white" %>
<%@categories.each do |cat|%>
  <div><%=cat.name %></div>
<% end %>