<div class="card border-light m-0" style="max-width: 12rem;">
  <% if product.photo.attached? %>
  <%= image_tag product.photo, class: "card-img-top", alt: product.config %>
  <%end%>
  <div class="card-body align-items-center">
  
    <p class="card-text"><%= link_to product.name, category_product_path(category, product), class: "link-danger" %></p>
    <h6 class="card-title"><%= number_to_currency(product.price, unit:"UAH", separator: ",", format: "%n%u" ) %> </h6>
  </div>
</div>